/*Iconos header*/
header {
  height: 50px;
}
header nav {
  background-color: #1f2022;
}
header nav .container .navbar-brand {
  color: #c935a9;
}
header nav .container ul li :hover {
  color: #c935a9;
  transform: scale(1.2);
}
header nav .container ul li a {
  color: white;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #fbffff;
  padding: 0.7em 1em;
}

.footer .fa-facebook {
  color: #0509ff;
}

footer {
  padding-top: 30px;
  background-color: #11101D;
  color: #bbb;
  bottom: -40rem;
  position: relative;
  width: 100%;
}
footer a {
  color: #999;
  text-decoration: none;
}
footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

@media (max-width: 880px) {
  footer {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    float: right;
  }
}
.header-login {
  display: flex;
  min-height: 90px;
  -webkit-box-shadow: 3px 4px 5px -4px #a3a3a3;
  -moz-box-shadow: 3px 4px 5px -4px #a3a3a3;
  box-shadow: 3px 4px 5px -4px #a3a3a3;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}
.header-login .mb-4 {
  width: 170px;
  margin: auto;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  top: 30px;
  width: 200px;
}

#texto-login h1 {
  color: #ff20f4;
  font-size: 37px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin h1, .form-signin a {
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.container .row .col {
  margin: var(--header-height) 0 0 0;
  margin-bottom: 20px;
  position: relative;
}
.container .row .col img {
  width: 200px;
  height: 220px;
  display: block;
}
.container .row .col :hover {
  transform: translateY(-20px);
  transition: 250ms;
}

@media (max-width: 768px) {
  .container .row .col {
    width: calc(50% - 20px);
    margin: var(--header-height) 0 0 20px;
    margin-left: -5px--;
  }
}
.balance {
  /*texto billetera*/
  color: black;
  position: relative;
  top: 7rem;
  left: 5rem;
  font-family: "Open Sans", sans-serif;
}

.img-card-index {
  position: relative;
  max-width: 100%;
  width: 600px;
  height: 500px;
  text-align: right;
  left: 13rem;
}

.body-divisas {
  min-height: 40rem;
}

.bg-1 {
  background-image: url(https://i.ibb.co/KrQvN6r/euforia-criptomonedas-enero-2020-1.jpg);
  background-size: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media (min-width: 758px) {
  main h1 {
    margin-left: -10%;
  }
  main h2 {
    margin-left: -10%;
  }
  main #chartContainer {
    margin-left: -10%;
  }
  main .table-responsive {
    margin-left: -10%;
  }
}
@media (max-width: 758px) {
  main h1 {
    margin-left: 5%;
  }
  main h2 {
    margin-left: 5%;
  }
  main #chartContainer {
    margin-left: 5%;
  }
  main .table-responsive {
    margin-left: 5%;
  }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#chart-historial {
  margin: var(--header-height) 0 0 0;
}

body {
  --header-height: 50px;
  margin: var(--header-height) 0 0 0;
}
body .contenido {
  /*texto index*/
  margin: var(--header-height) 0 0 0;
  position: relative;
  font-size: large;
  left: 8rem;
}
body .container-fluid {
  margin-top: 50px;
}
body .container-fluid .table {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
