.header {
  position: relative;
  background-color: #11101D;
  height: 5rem;
  border-bottom: 1px solid black;
  left: 0px;
}
.header h3 {
  color: #ff20f4;
  position: absolute;
  top: 22px;
  right: 14rem;
}

/*Iconos header*/
.fa-sign-out-alt {
  font-size: 50px;
  color: #b059b3;
  position: absolute;
  top: 0.9rem;
  right: 2rem;
  width: 50px;
}

.logo-ib {
  float: left;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
}
.logo-ib:hover {
  background-color: #ddd;
  color: black;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #fbffff;
  padding: 0.7em 1em;
}

.footer .fa-facebook {
  color: #0509ff;
}

footer {
  padding-top: 30px;
  background-color: #11101D;
  color: #bbb;
  bottom: -40rem;
  position: relative;
  width: 100%;
}
footer a {
  color: #999;
  text-decoration: none;
}
footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

@media (max-width: 880px) {
  footer {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    float: right;
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  max-height: 100%;
}
.sidebar.open {
  width: 200px;
}
.sidebar .sidebar-logo {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .sidebar-logo .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .sidebar-logo .sidebar-titulo {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .sidebar-logo .icon, .sidebar.open .sidebar-logo .sidebar-titulo {
  opacity: 1;
}
.sidebar .sidebar-logo #btn {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  font-size: 30px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .sidebar-logo #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 20px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .sidebar-lista {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px -15px;
  list-style: none;
}
.sidebar li .sidebar-tooltip {
  position: absolute;
  top: -20px;
  left: 25px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .sidebar-tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .sidebar-tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 90%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover {
  background: #FFF;
  left: -15px;
  position: relative;
}
.sidebar li a .sidebar-nombres {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .sidebar-nombres {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .sidebar-nombres, .sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

@media (max-width: 420px) {
  .sidebar li .sidebar-tooltip {
    display: none;
  }
}
.header-login {
  display: flex;
  min-height: 90px;
  -webkit-box-shadow: 3px 4px 5px -4px #a3a3a3;
  -moz-box-shadow: 3px 4px 5px -4px #a3a3a3;
  box-shadow: 3px 4px 5px -4px #a3a3a3;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}
.header-login .mb-4 {
  width: 170px;
  margin: auto;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  top: 30px;
  width: 200px;
}

#texto-login h1 {
  color: #ff20f4;
  font-size: 37px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin h1, .form-signin a {
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.grid {
  padding-top: 4rem;
  padding-left: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2.5rem;
}

.diva:hover, .divb:hover, .divc:hover, .divd:hover, .diva1:hover, .divb1:hover, .divc1:hover, .divd1:hover {
  transform: translateY(-15px);
  transition: 250ms;
}

.diva {
  grid-area: 1/1/3/2;
}

.divb {
  grid-area: 1/2/3/3;
}

.divc {
  grid-area: 1/3/3/4;
}

.divd {
  grid-area: 1/4/3/5;
}

.balance {
  /*texto billetera*/
  color: black;
  position: relative;
  top: 7rem;
  left: 5rem;
  font-family: "Open Sans", sans-serif;
}

.img-noticia {
  position: relative;
  max-width: 100%;
  width: 500px;
  height: 400px;
  text-align: right;
  left: 13rem;
}

.contenido {
  /*texto index*/
  position: relative;
  font-size: large;
  left: 13rem;
}

.fila-criptos {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
}

.fila-criptos img {
  flex-grow: 1;
  flex-basis: 100px;
  max-width: 150px;
  max-height: 200px;
  margin: 30px;
}

.body-divisas {
  min-height: 40rem;
}

body {
  background-image: url(https://i.ibb.co/KrQvN6r/euforia-criptomonedas-enero-2020-1.jpg);
  background-size: 100%;
}

/*# sourceMappingURL=style.css.map */
