.balance{ /*texto billetera*/
    color: rgb(0, 0, 0);
    position: relative;
    top: 7rem; 
    left: 5rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  .img-card-index {
    position: relative;
    max-width: 100%;
    width:600px; 
    height:500px;
    text-align: right;
    left: 13rem;
  }

  .body-divisas{
    min-height: 40rem;
  }
  
  .bg-1 {
    background-image:url(https://i.ibb.co/KrQvN6r/euforia-criptomonedas-enero-2020-1.jpg);
    background-size: 100%;
  }
  
.carousel-inner img {
    width: 100%;
    height: 100%;
}

@media (min-width: 758px) {
    main{
      h1{
        margin-left: -10%;
      }
      h2{
        margin-left: -10%;
      }
      #chartContainer{
        margin-left: -10%;
      }
      .table-responsive{
        margin-left: -10%;
      }
    }
  }
@media (max-width: 758px) {
    main{
      h1{
        margin-left: 5%;
      }
      h2{
        margin-left: 5%;
      }
      #chartContainer{
        margin-left: 5%;
      }
      .table-responsive{
        margin-left: 5%;
      }
    }
  }
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#chart-historial{
  margin: var(--header-height) 0 0 0;
}