.grid {
    padding-top: 4rem;
    padding-left: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2.5rem;
  }
  
  .diva:hover,  .divb:hover, .divc:hover, .divd:hover, .diva1:hover, .divb1:hover, .divc1:hover, .divd1:hover {
    transform: translateY(-15px);
    transition: 250ms;
  }
  
  .diva {
    grid-area: 1 / 1 / 3 / 2;
  }
  
  .divb {
    grid-area: 1 / 2 / 3 / 3;
  }
  
  .divc {
    grid-area: 1 / 3 / 3 / 4;
  }
  
  .divd {
    grid-area: 1 / 4 / 3 / 5;
  }