
/*Iconos header*/

header {
  // width: 100%;
  height: 50px;
  nav{
    background-color: #1f2022;
    .container{
      .navbar-brand{
        color: rgb(201, 53, 169);
      }
      ul{
        li{
          a{
            color:white;
          }
        }
      }
    
    }
  }
}
