.header {
  position: relative;
  background-color: #11101D;
  height: 5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  left: 0px;

  h3 {
    color: #ff20f4;
    position: absolute;
    top: 22px;
    right: 14rem;
  }
}
/*Iconos header*/
.fa-sign-out-alt {
  font-size: 50px;
  color: #b059b3;
  position: absolute;
  top: 0.9rem;
  right: 2rem;
  width: 50px;
}

.logo-ib {
  float: left;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;

  &:hover {
    background-color: #ddd;
    color: black;
  }
}