.header-login {
    display: flex;
    min-height: 90px;
    -webkit-box-shadow: 3px 4px 5px -4px rgb(163 163 163);
    -moz-box-shadow: 3px 4px 5px -4px rgba(163, 163, 163, 1);
    box-shadow: 3px 4px 5px -4px rgb(163 163 163);
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
  
    .mb-4 {
      width: 170px;
      margin: auto;
      display: flex;
      position: absolute;
      right: 0;
      left: 0;
      top: 30px;
      width: 200px;
    }
  }
  
  #texto-login h1 {
    color: #ff20f4;
    font-size: 37px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }
  
  .text-center {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  
    .checkbox {
      font-weight: 400;
    }
  
    .form-floating:focus-within {
      z-index: 2;
    }
  
    input {
      &[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
  
      &[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  
    h1, a {
      color: #000000;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
    }
  }
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }