.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    max-height: 100%;
  
    &.open {
      width: 200px;
    }
  
    .sidebar-logo {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
  
      .icon {
        opacity: 0;
        transition: all 0.5s ease;
      }
  
      .sidebar-titulo {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        transition: all 0.5s ease;
      }
    }
  
    &.open .sidebar-logo {
      .icon, .sidebar-titulo {
        opacity: 1;
      }
    }
  
    .sidebar-logo #btn {
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
      font-size: 30px;
      transition: all 0.4s ease;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
    }
  
    &.open .sidebar-logo #btn {
      text-align: right;
    }
  
    i {
      color: #fff;
      height: 60px;
      min-width: 20px;
      font-size: 28px;
      text-align: center;
      line-height: 60px;
    }
  
    .sidebar-lista {
      margin-top: 20px;
      height: 100%;
    }
  
    li {
      position: relative;
      margin: 8px -15px;
      list-style: none;
  
      .sidebar-tooltip {
        position: absolute;
        top: -20px;
        left: 25px;
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
      }
  
      &:hover .sidebar-tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  
    &.open li .sidebar-tooltip {
      display: none;
    }
  
    li a {
      display: flex;
      height: 100%;
      width: 90%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
      background: #11101D;
  
      &:hover {
        background: #FFF;
        left: -15px;
        position: relative;
      }
  
      .sidebar-nombres {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
      }
    }
  
    &.open li a .sidebar-nombres {
      opacity: 1;
      pointer-events: auto;
    }
  
    li {
      a:hover {
        .sidebar-nombres, i {
          transition: all 0.5s ease;
          color: #11101D;
        }
      }
  
      i {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
      }
    }
  }
  
  @media (max-width: 420px) {
    .sidebar li .sidebar-tooltip {
      display: none;
    }
  }